PORT=3300

INVOICE_PORT=3001
PRODUCT_PORT=3002
USER_ACCESS_PORT=3003
AUTHORIZER_PORT=3004
PDF_GENERATOR_PORT=3005
MEDIA_PORT=3006
MAIL_PORT=3007

GLOBAL_PREFIX=api/v1
NODE_ENV=development
IS_DEV=trues

TCP_INVOICE_SERVICE_PORT=3201
INVOICE_SERVICE_HOST=localhost

TCP_PRODUCT_SERVICE_PORT=3202
PRODUCT_SERVICE_HOST=localhost

TCP_USER_ACCESS_SERVICE_PORT=3203
USER_ACCESS_SERVICE_HOST=localhost

TCP_AUTHORIZE_SERVICE_PORT=3204
AUTHORIZE_SERVICE_HOST=localhost

TCP_PDF_GENERATOR_SERVICE_PORT=3205
PDF_GENERATOR_SERVICE_HOST=localhost

TCP_MEDIA_SERVICE_PORT=3206
MEDIA_SERVICE_HOST=localhost

## MongoDB Configuration
MONGODB_URL=
MONGODB_DB_NAME=

## PostgreSQL Configuration
TYPEORM_TYPE=
TYPEORM_HOST=
TYPEORM_PORT=
TYPEORM_USERNAME=
TYPEORM_PASSWORD=
TYPEORM_DB_NAME=


KEYCLOAK_HOST=
KEYCLOAK_REALM=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TTL=1800000

AUTHORIZER_SERVICE_HOST=localhost
AUTHORIZER_SERVICE_PORT=5100

USER_ACCESS_SERVICE_HOST=localhost
USER_ACCESS_SERVICE_PORT=5101

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

STRIPE_WEBHOOK_SECRET=
STRIPE_SECRET_KEY=
STRIPE_SUCCESS_URL=http://localhost:3000/success
STRIPE_CANCEL_URL=http://localhost:3000/cancel

MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
MAIL_SENDER_NAME=
MAIL_SENDER_EMAIL=
